[submodule "graphinator-lite"]
	path = graphinator-lite
	url = https://github.com/Bleskocvok/graphinator-lite
[submodule "sudoku"]
	path = sudoku
	url = https://github.com/Bleskocvok/sudoku
[submodule "tabcat"]
	path = tabcat
	url = https://github.com/Bleskocvok/tabcat
[submodule "sparky-tree"]
	path = sparky-tree
	url = https://github.com/Bleskocvok/sparky-tree
